<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>compiled react jsonpath example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% htmlWebpackPlugin.files.css.forEach(style => { %>
  <link rel="stylesheet" href="<%= style %>">
  <% }) %>
</head>
<body>
<main id="main">
</main>
<% htmlWebpackPlugin.files.js.filter(f => /compiled/.test(f)).forEach(file => { %>
<script src="<%= file %>" defer></script>
<% }) %>
</body>
</html>
