<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>static react jsonpath example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main id="main">
  <ul>
    <li><a href="static.html">static example</a></li>
    <li><a href="compiled.html">compiled example</a></li>
  </ul>
</main>
</body>
</html>
